@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var size = 8;
}
<div class="relative group">
    @Html.Partial("_Filler")
</div>
<div class="max-w-screen-xl mx-auto pt-10 pb-7 px-3 sm:px-10 rounded-md">
    <div class="flex justify-between items-center mb-5">
        <h3 class="text-lg sm:text-2xl font-semibold text-black">
            Bất động sản dành cho bạn
        </h3>
        <div class="hidden xl:flex items-center">
            <a class="text-black hover:text-slate-400"
               asp-action="SalePropertyNews">
                Tin nhà đất bán mới nhất
            </a>
            <div class="bg-black px-[0.75px] h-3 mx-2.5"></div>
            <a class="text-black hover:text-slate-400" asp-action="RentPropertyNews">
                Tin nhà đất cho thuê mới
                nhất
            </a>
            <div class="bg-black px-[0.75px] h-3 mx-2.5"></div>
            <div id="latest">
                <button onclick="sortByDate(``)" class="text-black flex items-center gap-1 py-1 px-2 hover:bg-gray-200">
                    <span>Mới nhất</span>
                    <i class="las text-lg la-sort">
                    </i>
                </button>
            </div>
            <div class="bg-black px-[0.75px] h-3 mx-2.5"></div>
            <div id="price">
                <button onclick="sortByPrice(`price_asc`)" class="text-black flex items-center gap-1 py-1 px-2 hover:bg-gray-200">
                <span>Giá</span>
                <i class="las text-lg la-sort">
                </i>
                </button>
            </div>
        </div>
    </div>
    <div class="ant-spin-container ng-star-inserted">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 overflow-hidden relative" id="houseList">
        </div>
    </div>

    <div class="flex justify-center p-5" id="expand">
        <button onclick="expand()" type="button" class="text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium rounded-lg px-8 py-4 ng-star-inserted"> Mở rộng <i class="las la-angle-down ml-1 font-bold"></i></button>
    </div>

</div>
@section Scripts {
    <script>
        $.ajax({
            type: "Get",
            url: "/Properties/GetHouseItems?size=" + $("#size").val(),
            contentType: "html",
            success: function (res) {
                $("#houseList").html(res);

            }
        })

        function expand() {
            $.ajax({
                type: "Get",
                url: "/Properties/GetHouseItems?size=16",
                contentType: "html",
                success: function (res) {
        
                        $("#houseList").html(res);

                }
            })
            $("#expand").html('<button onclick="location.href=`@Url.Action("SalePropertyNews", "Properties")`" class="cursor-pointer text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium rounded-lg px-8 py-4 ng-star-inserted"> Xem tiếp</button>')
        }
        function sortByDate(sortParams) {
            $.ajax({
                type: "Get",
                url: `/Properties/GetHouseItems?size=${$("#size").val()}&SortOrder=` + sortParams,
                contentType: "html",
                success: function (res) {
                    $("#houseList").html(res);
                    let sort = sortParams == "" ? "time_asc" : "";
                    $("#latest").html(`<button onclick="sortByDate('${sort}')" class="text-black flex items-center gap-1 py-1 px-2 hover:bg-gray-200"><span>Mới nhất</span><i class="las text-lg la-sort"></i></button>`)
                }
            })
        }
        function sortByPrice(sortParams) {
            $.ajax({
                type: "Get",
                url: `/Properties/GetHouseItems?size=${$("#size").val()}&SortOrder=` + sortParams,
                contentType: "html",
                success: function (res) {
                    $("#houseList").html(res);
                    let sort = sortParams == "price_asc" ? "price_desc" : "price_asc";
                    $("#price").html(`<button onclick="sortByPrice('${sort}')" class="text-black flex items-center gap-1 py-1 px-2 hover:bg-gray-200"><span>Giá</span><i class="las text-lg la-sort"></i></button>`)

                }
            })
        }
    </script>

}
